.section-template--23927395287155__custom_liquid_4ADafc-padding {
    padding-top: calc(0px * 0.75);
    padding-bottom: calc(0px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-template--23927395287155__custom_liquid_4ADafc-padding {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }