.footer {
    margin-top: 0px;
  }

  .section-sections--23927389945971__footer-padding {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: 0px;
    }

    .section-sections--23927389945971__footer-padding {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }